<form class="form-group">
    <h4>New character</h4>
    <div class="mb-3">
        <input type="text" [(ngModel)]="character.name" class="form-control" name="name" placeholder="Character name">
    </div>
    <div class="mb-3">
        <input type="number" [(ngModel)]="character.power" class="form-control" name="power" placeholder="Power level">
    </div>
    <button type="submit" (click)="emitCharacter()" class="btn btn-primary">Agregar</button>

    <pre>{{ character | json }}</pre>
</form>
